.contact-information{
	padding: 10px;
	padding-top: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #DE423A;
}
.contact-information .column-title{
	font-family: 'PACIFICO', cursive;
	font-weight: 100;
}
.contact-information [class*="icon-"]{
	position: relative;
	/*top: 5px;*/
}
.contact-information p [class*="icon-"]{
	font-size: 1.3em;
	margin-right: 7px;
	top: 5px;
}
.contact-information .social-icon{
	justify-content: flex-start;
	margin-bottom: 10px;
}
.contact-information .social-icon [class*="icon-"] {
	
	background-color: black;
	color: white;

	padding-right: 10px;
	padding-left: 10px;
	/*margin-left: 0;
	/*margin-right: 15px;
	/*right: 20px;*/
	/*font-size: 1.1em; */
}
.formulario{
	padding: 10px;
	padding-top: 0;
}
.formulario-label, .formulario-input_txt, .formulario-textarea{
	display: block;
	width: 100%;
}
.formulario-input_txt{
	padding: 10px;
	margin-bottom: 10px;
}

.formulario-textarea{
	min-height: 100px;
	max-height: 200px;
	min-width: 100%;
	max-width: 100%;
}
.formulario-btn{
	border: none;
	cursor: pointer;
	font-size: 1em;
}
@media screen and (min-width: 480px){
	.contact .container-flex{
		align-items: flex-start;
	}
	.contact-information p{
		font-size: .9em;
	}
	.contact-information{
		border-right: 1px solid #DE423A;
		border-bottom: none;
	}
}
@media screen and (min-width: 768px){
	.contact-information p{
		font-size: 1em;
	}
	.contact-information .column-title{
		font-size: 1.5em;
	}
}


