.gallery{
	margin: 20px;	
}
.gallery .container-flex{
    align-items: flex-start;
}
.gallery-img{
	margin-bottom: 5px;
	object-fit: cover;
	cursor: pointer;
	transition: all 0.5s;
	height: 200px;
}
.gallery-img:hover{
	transform: scale(1.02);
}
.modal{
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000;
	display: none;
}
.modal-content{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-img{
	height: 30%;
}
.modal-button{
	color: white;
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #7B1FA2;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 2.5em;
	font-family: monospace;
	cursor: pointer;
}
.modal-open{
	display: block;
}
@media screen and (min-width: 480px){
	.gallery{
		margin: 10px;	
	}
	.gallery-img-big{
		height: 400px;
	}
	.gallery-img-small{
		height: 200px;
	}
	.modal-img{
	height: 40%;
    }
}
@media screen and (min-width: 768px){
	.modal-img{
		height: 60%;
	}
}
@media screen and (min-width: 1024px){
	.modal-img{
		width: 80%;
		height: auto;
	}
}
@media screen and (min-width: 1600px){
	.modal-img{
		width: 60%;
		height: auto;
	}
}